nav{
    display: flex;
    justify-content: space-between;
    padding:5%;
    font-weight: bolder;
    background-color: rgb(116, 116, 237);
}
.about{
    font-size:20px;
}
.image{
    border-radius: 600px;
    width: 300px;
    height: 300px;
}
.img{
    text-align: center;
}
.name{
    text-align: center;
    font-size: 50px;
}
h4{
    margin-top:90px;
}
.main{
    background-color: rgb(16, 183, 183);
}
.others{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size:20px;
   
}
h1{
    text-align: center;
    font-size:60px;
}
.project{
    text-align: center;
}
input[type=text],input[type=email],textarea,input[type=number]{
    width: 100%;
    border-radius: 30px;
    border: 2px solid;
    margin: 2px;
    padding:30px;
}
.forms{
    width:80%;
    background-color:white
}
button[submit]{
    padding: 20px;
    color: aqua;
}
.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.footer{
    background-color:rgb(172, 156, 156);
    text-align: center;
    padding: 20px;
}
.paragraph{
     display: grid;
    grid-template-columns: 1fr 1fr ;
}
.me{
    text-align: center;
    color: red;
}
.contact{
    text-align: center;
    color: red;
}